{% extends 'core/base.html' %}

{% load static %}
{% block title %}

<title>Add New Student</title>
{% endblock title %}

{% block content %}

{% include 'core/navbar.html' %}


<div class="container mt-4">

    <div class="row">
        <div class="col-sm-4">

            <div class="container mt-2">
                <h3>Add New Stundet <i class="fas fa-user"></i> </h3>
            </div>
            {% if messages %}
            {% for k in messages %} 
            
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <strong>{{k}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            
            
            {% endfor %}
            {% endif %}
            <form action="validate/user" method="post" >

                {% csrf_token %}

                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" required>

                <label for="id">Student Id</label>
                <input type="text" name="id" class="form-control" required>

                <label for="gender">Gender</label>
                <select name="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>

                <label for="marks">Total Marks</label>
                <input type="number" name="marks" class="form-control" required>

                <label for="age">Age</label>
                <input type="number" name="age" id="age" class="form-control" required>


                <input type="submit" value="Add Student" class="btn btn-primary mt-4">



            </form>

            <div class="container mt-2">
                <img src="{% static 'student/img/icon.svg' %}" alt="" width="100%" height="200">
            </div>
        </div>

        <div class="col-sm-8">


        {% if students %}
      
        <div class="container mt-2">
            <input type="text" class='form-control' onkeyup="myFunction()" placeholder="Search Stundet " id="myInput">
        </div>

        <table class="table table-striped" id='myTable'>

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>ID</th>
                        <th>Total Marks</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
            {% for i in students %}
            <tr>
        <td> {{i.studentName}}</td>
        <td> {{i.age}}</td>
        <td> {{i.gender}}</td>
        <td> {{i.studentid}}</td>
        <td> {{i.marks}}</td>
        <td>  <a href="delete/student/{{i.studentid}}" class="text-danger"> <i class="fa-solid fa-trash"></i> Delete</a></td>
            </tr>
        
            {% endfor %}
                </tbody>
        </table>
        {% if is_paginated %}

        <div class="row">
            <div class="col-sm-4"></div>
        
            <div class="col-sm-8">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                      {% endif %}
                      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                      <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">..</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
                      {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                      {% endif %}
                      {% endif %}

      

        

        {% else %}

        <h3 class="text-center mt-4">No Student..</h3>
        
        {% endif %}
        </div>
    </div>

</div>


{% endblock content %}

{% block script %}
<script src="{% static 'student/js/student.js' %}" />
{% endblock script %}